<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/registro_habito" method="get">
      <button type="submit">Registrar Habito</button>
    </form>
    <form action="/registro_tarefa" method="get">
      <button type="submit">Registrar Tarefas</button>
    </form>
    <form action="/registro_meta" method="get">
      <button type="submit">Registrar Metas</button>
    </form>
  </body>
</html>
