<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metas não concluídas</title>
    <link
      rel="shortcut icon"
      href="../public/assets/bebetterbro.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../public/styles/metas-concluidas.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="pt-br">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Metas Concluídas</title>
      </head>
      <body>
        <h1>Metas Concluídas</h1>
        <ul>
          <% metasConcluidas.forEach(metas => { %>
          <li><%= metas.nome_meta %> - <%= metas.descricao_meta %></li>
          <% }); %>
        </ul>
        <form action="/atividades-do-dia" method="get">
          <button type="submit">Voltar</button>
        </form>
      </body>
    </html>
  </body>
</html>
