<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="pt-br">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Metas Concluídas</title>
      </head>
      <body>
        <h1>Metas Concluídas</h1>
        <ul>
          <% metasConcluidas.forEach(metas => { %>
          <li><%= metas.nome_meta %> - <%= metas.descricao_meta %></li>
          <% }); %>
        </ul>
        <form action="/atividades-do-dia" method="get">
          <button type="submit">Voltar</button>
        </form>
      </body>
    </html>
  </body>
</html>
