<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/registrousuario" method="post">
      <label for="login-user-idade">Idade</label>
      <input
        type="number"
        placeholder="Digite sua idade"
        id="idade"
        name="idade"
      />
      <label for="nome">Nome</label>
      <input
        type="text"
        placeholder="Digite Seu Nome"
        id="nome_usuario"
        name="nome_usuario"
      />
      <label for="login-user-password">Senha</label>
      <input
        type="password"
        placeholder="Digite sua senha"
        id="senha"
        name="senha"
      />
      <label for="email">Email</label>
      <input
        type="text"
        placeholder="Digite seu Email"
        id="email"
        name="email"
      />
      <label for="genero">genero</label>
      <input
        type="text"
        placeholder="Digite seu genero"
        id="genero"
        name="genero"
      />
      <button type="submit">Entre</button>
    </form>
    <form action="/" method="get">
      <button type="submit">Voltar</button>
    </form>
  </body>
</html>
