<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela Confirmação</title>
    <link
      rel="shortcut icon"
      href="../public/assets/bebetterbro.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img
          src="../public/assets/Confirmation illustration.svg"
          alt="Uma ilustração de confirmação de algo"
        />
      </div>
      <div class="title">
        <i
          class="ph-duotone ph-confetti"
          style="color: #2182c2; font-size: 3.2rem"
        ></i>
        <h1>UHUUUULLLL, Deu certo!</h1>
      </div>
      <p>Sua conta foi confirmada com sucesso.</p>
      <form action="/logar" method="get">
        <button type="submit">Entrar</button>
      </form>
    </div>
  </body>
</html>
